.attachment_hover_icon {
  display: none;
}

.attachment_widget {
  /* Create a new stacking context, primary for frozen columns which have z-index:1 and the icon
     inside this widget (with z-index:1) is visible over the frozen column. */
  isolation: isolate;
}

.attachment_widget:hover .attachment_hover_icon {
  display: inline;
}

.attachment_drag_over {
  outline: 2px dashed #ff9a00;
  outline-offset: -2px;
}
