.widget_switch {
  position: relative;
  margin: -1px auto;
  width: 30px;
  height: 17px;
  flex: none;
}

.switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grist-theme-switch-slider-fg, #ccc);
  border-radius: 17px;
}

.switch_slider:hover {
  box-shadow: 0 0 1px #2196F3;
}

.switch_circle {
  position: absolute;
  cursor: pointer;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--grist-theme-switch-circle-fg, white);
  border-radius: 17px;
}

.switch_on > .switch_slider {
  background-color: var(--grist-actual-cell-color, #2CB0AF);
}

.switch_on > .switch_circle {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.switch_transition > .switch_slider, .switch_transition > .switch_circle {
  -webkit-transition: .4s;
  transition: .4s;
}
