.record-add .field_clip {
  background-color: inherit;
}
.transform_field {
  background-color: #FEFFE8;
}

@media not print {
  .formula_field, .formula_field_edit {
    padding-left: 18px;
  }
  .formula_field_edit {
    color: #D0D0D0;
  }

  .formula_field::before, .formula_field_edit::before {
    content: '=';
    position: absolute;
    left: 2px;
    top: 4px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    line-height: 12px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }

  .formula_field::before {
    background-color: #D0D0D0;
  }
  .formula_field_edit::before {
    background-color: var(--grist-color-cursor);
  }
  .formula_field.invalid::before {
    background-color: white;
    color: #ffb6c1;
  }
  .formula_field_edit.invalid::before {
    background-color: var(--grist-color-cursor);
    color: #ffb6c1;
  }
}

.invalid-text input {
  background-color: #ffb6c1;
}
