# friendly-traceback and its dependencies, for python 3 only
friendly-traceback==0.5.46
stack-data==0.3.0
executing==0.8.3
pure-eval==0.2.2

# Different astroid version for python 3
astroid==2.5.7

# Everything after this is the same for python 2 and 3
asttokens==2.0.5
backports.functools-lru-cache==1.6.4
chardet==4.0.0
enum34==1.1.10
et-xmlfile==1.0.1
html5lib==1.1
iso8601==0.1.12
jdcal==1.4.1
json_table_schema==0.2.1
lazy_object_proxy==1.6.0
lxml==4.6.3                # used in csv plugin only?
messytables==0.15.2
python_dateutil==2.8.2
openpyxl==3.0.10
python_magic==0.4.12
roman==2.0.0
singledispatch==3.6.2
six==1.16.0
sortedcontainers==2.4.0
webencodings==0.5
wrapt==1.12.1
xlrd==1.2.0
unittest-xml-reporting==2.0.0
