### python 2 requirements, see requirements3.txt for python 3

astroid==1.6.6
asttokens==2.4.0
backports.functools-lru-cache==1.6.4
chardet==4.0.0
enum34==1.1.10
iso8601==0.1.12
lazy_object_proxy==1.6.0
phonenumberslite==8.12.57
python_dateutil==2.8.2
roman==2.0.0
singledispatch==3.6.2
six==1.16.0
sortedcontainers==2.4.0
wrapt==1.12.1
unittest-xml-reporting==2.0.0
