# When deploying from a Github Action (i.e. for previews), this file is taken from the main
# branch, rather than from the branch with your changes. I.e. your changes to this file will not
# be used. However, environment variable from fly-template.env will get used from your branch.

app = "{APP_NAME}"
primary_region = "ewr"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
  # <fly-template.env> -- this tag gets replaced with values from fly-template.env.
  APP_DOC_URL="https://{APP_NAME}.fly.dev"
  APP_HOME_URL="https://{APP_NAME}.fly.dev"
  APP_STATIC_URL="https://{APP_NAME}.fly.dev"
  ALLOWED_WEBHOOK_DOMAINS="webhook.site"
  PORT = "8080"
  FLY_DEPLOY_EXPIRATION = "{FLY_DEPLOY_EXPIRATION}"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"

[mounts]
source="{VOLUME_NAME}"
destination="/persist"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
