#doc_window {
  overflow: hidden;
  height: 100%;
}

#doc_pane {
  overflow: hidden;
  z-index: 7;
  background-color: #f4f4f4;
}

#doc_pane.newui {
  background-color: white;
}

#view_pane {
  position: relative;
  min-width: 240px;

  background-color: #f4f4f4;
  margin: 3px;
}

#doc_pane.newui > #view_pane {
  background-color: white;
  margin: 0px;
  padding: 12px;
}

#view_content {
  position: relative;
}
