.g-code-panel {
  position:absolute;
  width: 100%;
  height: 100%;
  margin: 10px;
  overflow: auto;
}

.g-code-viewer {
  padding: 2rem 1rem;
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.g-code-viewer.hljs {
  background-color: inherit;
}
