#grist-app {
  background: url('img/gplaypattern.png');
}

.start-doclist {
  position: relative;

  margin: 0 auto;
  padding: 0;

  top: var(--layout-top-spacer);
  height: calc(100% - 2*var(--layout-top-spacer));

  width: 90vw;
  min-width: 600px;
  max-width: 900px;

  background-color: var(--color-doclist-bg);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);

  overflow: hidden;
}

.header-actions {
  background-color: var(--color-logo-bg);
  text-align: center;
}

.header-actions-logo {
  height: var(--layout-doclist-header-height);
  padding: .5rem;

  background: url('img/logo-grist-transp.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  cursor: pointer;
}

.footer-actions {
  margin: 1rem auto;
  text-align: center;
}

.header-doclist {
  height: var(--layout-doclist-header-height);
  min-height: var(--layout-doclist-header-height);

  background: linear-gradient(to bottom, #f9f9f9, #f0f0f0);

  align-items: center;
}

.doclist-link {
  margin: .5rem;
  font-weight: 600;
  color: var(--color-header-doclist);
}

.doclist-section {
  height: 100%;
}

.section-sidepane-wrapper {
  width: 180px;
  min-width: 180px;

  border-right: 1px solid var(--color-border-light);
}

.section-sidepane {
  margin: .5rem auto;
  padding: 0;

  text-align: center;
  align-items: center;
}

.section-sidepane.b-actions {
  margin: .5rem 2rem;
  align-items: stretch;
}

.section-doclist {
  height: var(--layout-doclist-height);
}

.doclist-body-wrapper {
  margin-top: 2px;
  height: calc(100% - 2px - var(--layout-doclist-header-height));
  width: 100%;
  overflow: auto;
}

.g-btn.mod-doclist__sidepane {
  border-style: solid;
  border-width: 1px 1px 1px 4px;

  font-weight: 400;
  color: #000;
  height: 30px;
  line-height: 18px;
}
.g-btn.mod-doclist__sidepane:hover {
  font-weight: 600;
  color: #fff;
}

.g-btn.mod-doclist__sidepane.fit-text {
  font-size: 1.0rem;
}

.g-btn.mod-doclist__sidepane.el-login {
  border-color: var(--color-btn-login);
  background-color: var(--color-btn-login-background);
}
.g-btn.mod-doclist__sidepane.el-login:hover {
  background-color: var(--color-btn-login);
}

.g-btn.mod-doclist__sidepane.el-createdoc {
  border-color: var(--color-btn-createdoc);
}
.g-btn.mod-doclist__sidepane.el-createdoc:hover {
  background-color: var(--color-btn-createdoc);
}

.g-btn.mod-doclist__sidepane.el-editteam {
  margin-top: 1rem;
  border-color: #7e25ff;
}
.g-btn.mod-doclist__sidepane.el-editteam:hover {
  background-color: #7e25ff;
}

.g-btn.mod-doclist__sidepane.el-uploaddoc {
  position: relative;
  margin-top: 1rem;

  border-color: var(--color-btn-uploaddoc);
}
.g-btn.mod-doclist__sidepane.el-uploaddoc:hover {
  background-color: var(--color-btn-uploaddoc);
}

.g-btn.mod-doclist__invite {
  width: 20px;
  height: 20px;
  padding: 4px;
}

.doclist-invite {
  display: flex;
  flex-direction: column;
}
.doclist-invite-bottom-row {
  display: inline-block;
  font-size: 1.0rem;
  color: var(--color-hint-text);
}

.mod-doclist__sidepane.el-divider {
  border-bottom: 1px solid var(--color-border-light);
  height: 1px;
  width: 90%;
  margin: 15px auto;
}

.el-uploaddoc__bar {
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0px;
  top: 0px;
  padding-top: 1px;

  color: #fff;
  background-color: var(--color-btn-uploaddoc);

  font-size: 2rem;

  transition: width .2s ease-out, opacity .2s;
}

.g-btn {
  margin: 0;
  padding: .5rem .8rem;

  cursor: pointer;
}

.g-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.doclist-logo-img {
  width: 90px;
}

.doclist-header {
  top: 0;
  height: var(--layout-doclist-header-height);
  min-height: var(--layout-doclist-header-height);

  padding: .2rem 1rem;
  align-items: center;

  background: linear-gradient(to bottom, #f0f0f0, #e6e6e6);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);

  text-decoration: underline;
}

.doclist-row {
  padding: 1rem;
  border-bottom: 1px solid var(--color-border-light);

  transition: background-color .2s;
}

.doclist-row:hover {
  background-color: var(--color-list-row-hover);
}

.doclist-sample {
  color: var(--color-header-doclist);
}

.doclist-column {
  min-width: 120px;
  cursor: pointer;
}

.doclist-column.doclist-column__name {
  min-width: 160px;
}

.doclist-column.doclist-column__download, .doclist-column.doclist-column__delete {
  min-width: 15px;
  color: #777;
  font-size: 1.0rem;
  text-align: right;
  margin-left: 10px;
  padding: 3px;
}

.doclist-column.mod-header {
  padding-left: 1.6rem;
}

.doclist-column__size {
  text-align: right;
  padding-right: 1rem;
}

.doclist-download_link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.glyphicon.mod-doclist-column {
  padding-right: .5rem;
}

div.uploadAlert {
  position: relative;
  margin-bottom: 1rem;
}

.gupload {
  margin-bottom: 1rem;
}

.gupload_item {
  position: relative;
  background-color: transparent;
}

.gupload_bar {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  background-color: lightgreen;
}

.gupload_failed {
  background-color: #FFA0A0;
}

.gupload_info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
