.g_record_layout_leaf {
  width: 100%;
}

.g_record_layout_editing {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: move;
  z-index: 5;

  background-color: var(--grist-theme-card-editing-layout-bg, rgba(192, 192, 192, 0.2));
  border-left: 1px solid var(--grist-theme-card-editing-layout-border, white);
  border-top: 1px solid var(--grist-theme-card-editing-layout-border, white);
  border-right: 1px solid var(--grist-theme-card-editing-layout-border, var(--grist-color-dark-grey));
  border-bottom: 1px solid var(--grist-theme-card-editing-layout-border, var(--grist-color-dark-grey));
}

.dropdown-menu .g_record_layout_newfield {
  margin: 2px 1rem;
  padding: 0px 0.5rem;
  border: 2px outset rgba(160, 160, 255, 0.5);
  background-color: rgba(233, 233, 233, 0.5);
  cursor: move;
  color: #666;
  font-size: 1.2rem;
}

.g_record_delete_field {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 1rem;
  color: var(--grist-theme-control-secondary-fg, #404040);
  cursor: pointer;

  display: none;
}

.g_record_layout_editing:hover > .g_record_delete_field {
  display: block;
}
