name: Push Docker image

on:
  release:
    types: [published]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag for the resulting images"
        type: string
        required: True
        default: 'stable'

env:
  TAG: ${{ inputs.tag || 'stable' }}
  DOCKER_HUB_OWNER: ${{ vars.DOCKER_HUB_OWNER || github.repository_owner }}
  PLATFORMS: ${{ vars.PLATFORMS || 'linux/amd64,linux/arm64/v8' }}

jobs:
  push_to_registry:
    name: Push Docker images to Docker Hub
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        image:
          # We build two images, `grist-oss` and `grist`.
          # See https://github.com/gristlabs/grist-core?tab=readme-ov-file#available-docker-images
          - name: "grist-oss"
            repo: "grist-core"
          - name: "grist"
            repo: "grist-ee"
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Add a dummy ext/ directory
        run:
          mkdir ext && touch ext/dummy

      - name: Check out the ext/ directory
        if: matrix.image.name != 'grist-oss'
        run: buildtools/checkout-ext-directory.sh ${{ matrix.image.repo }}

      - name: Generate metadata tag input
        id: meta_input
        run: |
          {
            echo "tags<<EOF"
            echo "type=ref,event=branch"
            echo "type=ref,event=pr"
            echo "type=semver,pattern={{version}}"
            echo "type=semver,pattern={{major}}.{{minor}}"
            echo "type=semver,pattern={{major}}"
            echo "${{ env.TAG }}"
            echo "EOF"
          } >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.DOCKER_HUB_OWNER }}/${{ matrix.image.name }}
          tags: |
            ${{ steps.meta_input.outputs.tags }}

      - name: Docker meta (EE)
        if: ${{ matrix.image.name == 'grist' }}
        id: meta_ee
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.DOCKER_HUB_OWNER }}/grist-ee
          tags: |
            ${{ steps.meta_input.outputs.tags }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: GRIST_ALLOW_AUTOMATIC_VERSION_CHECKING=${{ matrix.image.name == 'grist-oss' && 'false' || 'true' }}
          push: true
          platforms: ${{ env.PLATFORMS }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-contexts: ext=ext

      - name: Push Enterprise to Docker Hub
        if: ${{ matrix.image.name == 'grist' }}
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            BASE_IMAGE=${{ env.DOCKER_HUB_OWNER }}/${{ matrix.image.name}}
            BASE_VERSION=${{ env.TAG }}
            GRIST_ALLOW_AUTOMATIC_VERSION_CHECKING=true
          file: ext/Dockerfile
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ steps.meta_ee.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
